@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Public-Sans';
  src: url('/fonts/PublicSans-Light.ttf') format('ttf');
  font-weight: 300;
  font-display: swap;
}

:root {
        --dark-blue: hsl(233, 26%, 24%);
				--lime-green: hsl(136, 65%, 51%);
        --bright-cyan: hsl(192, 70%, 51%);
        --grayish-blue: hsl(233, 8%, 62%);
        --light-grayish-blue: hsl(220, 16%, 96%);
        --light-gray: hsl(0, 0%, 98%);
        --white: hsl(0, 0%, 100%);
}
.border-gradient {
  border-bottom: 5px solid transparent;
  padding-top: 5px;
  border-image-slice: 1;
  transition: border-image-source 0.5s ease;
  
}
.border-gradient:hover {
  border-image-source: linear-gradient(90deg, rgba(49,211,92,1) 3%, rgba(43,183,218,1) 94%);
}

